sonyimx134_liteon=/system/etc/camera/soft3aconfig/sonyimx134_liteon/
sonyimx134_sunny=/system/etc/camera/soft3aconfig/sonyimx134_sunny/
sonyimx135=/system/etc/camera/soft3aconfig/sonyimx135_liteon/
sonyimx135_liteon=/system/etc/camera/soft3aconfig/sonyimx135_liteon/
s5k4e1ga_foxconn=/system/etc/camera/soft3aconfig/s5k4e1ga_foxconn/
s5k4e1gx_foxconn=/system/etc/camera/soft3aconfig/s5k4e1gx_foxconn/
ov5648_sunny=/system/etc/camera/soft3aconfig/ov5648_sunny/
ov5648_foxconn=/system/etc/camera/soft3aconfig/ov5648_foxconn/
sonyimx214_sunny=/system/etc/camera/soft3aconfig/sonyimx214_sunny/
sonyimx214_foxconn=/system/etc/camera/soft3aconfig/sonyimx214_foxconn/
sonyimx179_liteon=/system/etc/camera/soft3aconfig/sonyimx179_liteon/
sonyimx179_sunny=/system/etc/camera/soft3aconfig/sonyimx179_sunny/
