sonyimx135=/system/etc/camera/multidenoise/sonyimx135_liteon/
sonyimx135_liteon=/system/etc/camera/multidenoise/sonyimx135_liteon/
sonyimx134_liteon=/system/etc/camera/multidenoise/sonyimx134_liteon/
sonyimx134_sunny=/system/etc/camera/multidenoise/sonyimx134_sunny/
sonyimx214_sunny=/system/etc/camera/multidenoise/sonyimx214_sunny/
sonyimx214_foxconn=/system/etc/camera/multidenoise/sonyimx214_foxconn/