sonyimx134_liteon=/system/etc/camera/smartae/sonyimx134_liteon/
sonyimx134_sunny=/system/etc/camera/smartae/sonyimx134_sunny/
sonyimx135=/system/etc/camera/smartae/sonyimx135_liteon/
sonyimx135_liteon=/system/etc/camera/smartae/sonyimx135_liteon/
ov5648_sunny=/system/etc/camera/smartae/ov5648_sunny/
ov5648_foxconn=/system/etc/camera/smartae/ov5648_foxconn/
s5k4e1ga_foxconn=/system/etc/camera/smartae/s5k4e1ga_foxconn/
s5k4e1gx_foxconn=/system/etc/camera/smartae/s5k4e1gx_foxconn/
sonyimx214_sunny=/system/etc/camera/smartae/sonyimx214_sunny/
sonyimx214_foxconn=/system/etc/camera/smartae/sonyimx214_foxconn/
sonyimx179_liteon=/system/etc/camera/smartae/sonyimx179_liteon/
sonyimx179_sunny=/system/etc/camera/smartae/sonyimx179_sunny/
